<div>
  <div ng-if="!config.repository" class="alert alert-info">
    Please configure the widget
  </div>
  <div ng-if="config.repository">
    <ul class="media-list">
      <li class="media" ng-repeat="build in vm.builds">
        <div class="media-left">
          <img class="media-object img-thumbnail"
               ng-src="http://www.gravatar.com/avatar/{{ build.commit.author_email | gravatar }}?s=64&d=identicon"
               alt="">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="{{build.htmlUrl}}" ng-class="vm.headingClass(build)" target="_blank">
              {{build.number}} {{build.state}}
            </a>
          </h4>
          <p>{{build.description}}</p>
          <small>{{build.commit.author_name}}, {{build.started_at | date: 'yyyy-MM-dd HH:mm'}}</small>
        </div>
      </li>
    </ul>
  </div>
</div>
